DB_HOST=
DB_PORT=3306
DB_USER=
DB_PASS=
DB_NAME=off_air_memory

BACKUP_EXE=mysqldump
BACKUP_ON=false

MEDIA_ROOT=X:/
SCAN_ON_BOOT=false

FRONT_URL=http://localhost:4200
API_NAME=api
JWT_KEY=change-me
TOKEN_TIME=2d
SESSION_SECRET=change-me

THROTTLE_TTL=60000
THROTTLE_LIMIT=15

PROJECT_STATUS=develop
PORT=3000
