DB_HOST=
DB_PORT=3306
DB_USER=
DB_PASS=
DB_NAME=

BACKUP_EXE=mysqldump
BACKUP_ON=false

FRONT_URL=http://127.0.0.1:4200
API_NAME=api
JWT_KEY=change-me
TOKEN_TIME=7d
SESSION_SECRET=change-me

THROTTLE_TTL=60000
THROTTLE_LIMIT=100

PROJECT_STATUS=deploy
PORT=3000
